.block{
  display: grid;
  position: relative;
  grid-template-rows: 4fr 0fr;
  cursor: pointer;
  transition: 0.4s;
 
  &:hover{
    filter:contrast(80%);
  }


  &:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: 4fr 0fr ;

    .title{
      font-size: 40px;
    }
  }


  img{
    max-width: 100%;
    height: 100%;
  }

  .title{
    padding: 5%;
    position: absolute;
    bottom:0% ;
    background: rgb(29,36,47);
    background: linear-gradient(180deg, rgba(29,36,47,0.7141357763808649) 0%, rgba(29,36,47,1) 87%);
    color: white;
    font-size: 20px;
    height: fit-content;
    width: 90%;


    span{
      color: #93a0b4;
      font-size: 15px;
      &>span{
        color:#ff683c;
        margin-right: 10px;
      }
    }

    
  }
}


