.footer{
  background-color: rgb(164, 109, 7);
  height: 500px;
  display: grid;
  align-items: center;
  justify-content: center;

  
  



  .footerNavigation{
    background-color: green;
    width: 700px;

  }

  .footerLinks{
    background-color: blue;
  }
}