.footer{
  background-color:#19202e;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  



  .footerNavigation{
    background-color: green;
    margin: 0px 300px;
    display: flex;
    justify-content: space-between;


    .navigation{
      background-color: red;
      padding-right: 300px;

      &>ul{
        list-style: none;
      }
    }
  }

  .footerLinks{
    background-color: blue;
    margin: 0px 300px;
  }
}