.footer{
  background-color:#19202e;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  



  .footerNavigation{
    margin: 0px 300px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid #3c475a;
    padding-bottom: 20px;

    .follow{
      display: flex;
      align-items: center;


      .share{
        background-color: #ff683c;
        width: fit-content;
        padding: 5px;
        border-radius: 50%;
        margin: 0 15px;
        cursor: pointer;
      }

      .twiter{
        color:#1da1f2;
        font-size: 25px;
        margin-left: 10px;
        cursor: pointer;
      }

      .linkedin{
        color:#2867b2;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
      }

      .facebook{
        color:#4267b2;
        font-size: 25px;
        cursor: pointer;
      }
    }

    &>div{
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    }


    .logo{
      background-image: url(./../../../public/imgs/logo3.png);
      background-size: cover;
      background-position: center;
      height: 70px;
      width: 50px;
      margin-bottom: 20px;
    }

    p{
      font-size: 13px;
    }



    .navigation{
      padding-right: 300px;
      color: #93a0b4;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;

      &>ul{
        list-style: none;
        font-size: 15px;


        li{
          border-radius: 4%;
          padding: 10px;
          margin-bottom: 10px;
          cursor: pointer;

          &:hover{
            background-color: #232a38;
          }
        }

      }
    }
  }

  .footerLinks{
    margin: 0px 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    p{
      color:white;
    }

    span{
      color:#93a0b4;
    }


    .listenNetworks{
      margin-top:15px;
      display: flex;
      


      .apple{
        display: flex;
        align-items: center;
        background-color: #0b121e;
        padding: 8px;
        border-radius: 2%;
        margin-right: 10px;
        cursor: pointer;
        

        &>div{
          background-image: url(./../../../public/imgs/apple.png);
          background-size: cover;
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }  
      }

      .spotify{
        display: flex;
        align-items: center;
        background-color: #0b121e;
        padding: 8px;
        border-radius: 2%;
        margin-right: 10px;
        cursor: pointer;
        

        &>div{
          background-image: url(./../../../public/imgs/spotify.png);
          background-size: cover;
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }  
      }



      .amazon{
        display: flex;
        align-items: center;
        background-color: #0b121e;
        padding: 8px;
        border-radius: 2%;
        margin-right: 10px;
        cursor: pointer;
        

        &>div{
          background-image: url(./../../../public/imgs/amazon.png);
          background-size: cover;
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }  
      }

      .youtube{
        display: flex;
        align-items: center;
        background-color: #0b121e;
        padding: 8px;
        border-radius: 2%;
        margin-right: 10px;
        cursor: pointer;
        

        &>div{
          background-image: url(./../../../public/imgs/youtube.png);
          background-size: cover;
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }  
      }
      
    }
  }
}