.content{
  background-color: #0b121e;
  color:#93a0b4;
  font-size:30px;
  padding: 50px;
  position:sticky;
  top:15px;
  word-spacing: 10px;
  position: sticky;
  

  


  .title{
    color: #ff643c;
  }


  .description{
    border:1px solid #b2452a4b;
    border-radius: 1%;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}