@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.navigation{
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #0b121e;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: sticky;
  top:0px;
  
  .active{
    color:white;
    border-bottom: 3px solid #ff643c ;
  }


  &>div{
    display: flex;
    align-items: center;
    border:1px solid black;
    padding: 0px 40px;
    white-space: nowrap;
    color:#93a0b4;
    transition: 0.3s;

    &:hover{
      border-bottom: 3px solid #ff643c;
    }

  }
}