.header{
  background-color: #0b121e;
  display: flex;
  justify-content: space-between;

  .logo{
    background-image: url(./../../../public/imgs/logo3.png);
    background-size: cover;
    background-position: center;
    height: 70px;
    width: 50px;
    margin: 10px 0px 10px 40px;
    cursor: pointer;
  }




  .loginSearch{
    display: flex;
    align-items: center;
    margin-right: 40px;
  

    .avatar{
      cursor: pointer;
      color: #93a0b4;
      font-size: 30px;
      margin:25px;
    }


    .search{
      color: #93a0b4;
      font-size: 30px;
      cursor: pointer;
    }

    .languageChange{
      color:#93a0b4;
      font-size: 30px;
      margin:15px;
      cursor: pointer;
  


      &>span{
        font-size: 15px;
        color:#ff683c;
      }
    }
  }
}