@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


body{
  margin: 0;
}

.app{
  display: grid;
  background-color:#0b121e;
  // gap: 30px;
  grid-template-areas: 
  'header header header'
  'navigation navigation navigation'
  'content news sidebar'
  'footer footer footer'
  ;
  grid-template-columns: 1fr 2fr 0.8fr;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  

  .header{
    grid-area: header;
    border-bottom: 1px solid #1e2634;
  }


  .navigation{
    grid-area: navigation;
    border-bottom: 1px solid #1e2634;
  }


  .content{
    grid-area: content;

  }

  .news{
    grid-area: news;
    border-left: 1px solid #1e2634;
  }


  .sidebar{
    grid-area: sidebar;
  }

  .footer{
    grid-area: footer;
  }
}